# for app container
BOT_TOKEN=bot_token
TG_ADMIN_IDS=[admin_id1, admin_id2]
INIT_DB=0
DB_HOST=postgres # or 127.0.0.1
DB_NAME=scheduling_bot
DB_PORT=5372
DB_USER=postgres
DB_PASSWORD=postgres
BASE_URL=https://ngrok_url

# for postgres container
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=scheduling_bot